---
import Layout from '~/layouts/Layout.astro';
import ContentPage from '~/components/widgets/ContentPage.astro';
import TodoIntegrate from '~/components/widgets/TodoIntegrate.astro';
import Teaser from '~/components/widgets/Teaser.astro';
import MoreInformation from '~/components/widgets/MoreInformation.astro';
import { getStep } from '~/data/steps';

const step = getStep('9')!;
const keyFacts = ['Punkt 1 - <strong>fett markierter Text</strong>', 'Punkt 2', 'Punkt 3'];
const metadata = {
  title: 'Pensionssplitting – Karenz Wizard',
  description:
    'Pensionssplitting während der Karenz: Was es ist und wie ihr es als Paar angehen könnt.',
};
---

<Layout {metadata}>
  <ContentPage title={step.title} step={{ number: step.number }}>
    <Teaser step={step} />
    <!--<KeyFacts items={keyFacts} /> -->
    <p>🚧 Inhalt in Arbeit 🚧</p>
  </ContentPage>
  <MoreInformation step={step} />
</Layout>
